# Python
__pycache__/
*.pyc
.env
.venv
venv/

# C++ / CMake
build/
bin/
*.exe
*.obj
*.pdb
*.ilk
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Project Specific
experiments/generated/build/
experiments/generated/generated_parser.cpp
experiments/generated/parser.exe
experiments/generated/CMakeLists.txt

# Generated Data
data/*.smsh

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
